body, html {
  height:100%;
  /*background-color:   #3399FF;*/
}


/*Sections styling*/
section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
}

#section1{
  background-color: #458bd3;
  /* For WebKit (Safari, Chrome, etc) */
  background: #458bd3 -webkit-gradient(linear, left top, left bottom, from(#0B72D9), to(#458bd3)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #458bd3 -moz-linear-gradient(top, #0B72D9, #458bd3) no-repeat;
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0B72D9, endColorstr=#458bd3) no-repeat;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0B72D9, endColorstr=#0B72D9)" no-repeat;
}

#section2{
  font-family: 'Finger Paint', cursive;
  font-size: xx-large;
  background-color: #FE4B74;
}

#previewTitle{
  color: #FFFFFF;
  display: table-cell;
  vertical-align: middle;

}

input{display:none}
svg{float:left;width:100px;margin:0 1px}
label{cursor:pointer}
svg:hover {margin-top:1px}

/* For Scaling the SVG inline files to its parent container*/
.scaleSVG {
  position:absolute;
  left:0;
  right:0;
  top:0;
  width:100%;
  /*border: 1px solid black;*/

  height:100%;
}
/* Make elements look like a link (in this case SVG-Elements) by changing the cursor*/
.linkCursor{
  cursor: pointer;

}
.marginRow{
    margin:0px !important;
    padding-right:0;
    padding-left:0;
    text-align: center;
}

.contentMain{
      border: 1px solid black !important;
      padding: 15px !important;
      font-family: monospace !important;
      font-weight: bold !important;
      background-color:  #3399CC !important;
      height: auto !important;
      max-width: 300px;
      position: absolute !important;
      top: 400px !important;
      /*Toggle this for later, if you can align to row center?*/
      min-width : 100% ;
}
.contentExtra{
      padding: 15px;
      border-radius: 25px;
      background-color: #0099CC;
      position: absolute;
      top: 100px;
      height: auto;
      width: auto;
      font-family: monospace !important;
      font-weight: bold !important;
}
#menue{
  position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
    width:100% !important;
    height: 50% !important;
}

.hide{
  display: none;
}

/*A simple loader animation with css*/
.loader {
    /*border-top: 10px solid #eb7a26;*/
    border-top: 10px solid #7FFFD4;
    border-right: 10px solid #6495ED;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid #F08080;
    border-radius: 60%;
    /*
    border: 16px solid #ffffff;
    border-top: 16px solid #458bd3;

    */
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Styles for content.html*/

#heart2{
  display: inline-block !important;
  color: "red" !important;
  width: 200px;
  height: 200px;
}

#heart1Image{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

#table1{
  max-width: 10px%;
  table-layout: fixed;
  word-wrap: break-word;
  color: "green";
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#eb7a26;
}
